*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Bebas Neue', cursive;
}
.general-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
}
.header{
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100%;
    height: 100%;
    background: grey;
    justify-content: center;
    align-items: center;
}
.cover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.picture{
    width: 200px;
    height: 200px;
    margin: 40px;
}
.profile-picture{
    width: 100%;
    height: 100%;
    border-radius: 200px;
    border: white solid ;
}
.list-container{
    background-color: aqua;
    width: 100%;
    height: 100%;
}
.list-container ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
}
li a{
    text-decoration: none;
    color: white;
    margin: 0px 25px ;
}

.content{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}
.content div{
    display: flex;
    background: greenyellow;
    border-radius: 40px;
    height: 250px;
    justify-content: center;
}
.content div:nth-child(1){
    background: mediumpurple;
}
.content div:nth-child(2){
    background: darkgoldenrod;
}
.content div:nth-child(3){
    background: gold;
}

@media (max-width: 640px) {
    .general-container{
        display: flex;
        flex-direction: column;
    }
    .side-bar{
        width: 100%;
        align-items: center;
        align-content: center;

    }
    .profile-picture{
        margin: 5px;
        padding: 0%;
    }
    
}