body{
    background: rgb(102, 104, 102);
    margin: 0px;
    padding: 0px;
    font-family: 'Bebas Neue', cursive;
}
.general-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.side-bar{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    border-radius: 25px;
    margin: 0px;
    width: 300px;
    height: 100%;
    background:rgb(101, 191, 216);
    align-items: center;
}
.side-bar ul{
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
    text-align: center;
}
li a{
    text-decoration: none;
    color: white;
    margin: 0px 0px 35px;
}
figure{
    margin: 0px;
}
.profile-picture{
    width: 100%;
    height: 100%;
    border-radius: 200px;
}
.content{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}
.content div{
    display: flex;
    background: greenyellow;
    border-radius: 40px;
    height: 250px;
    justify-content: center;
}
.content div:nth-child(1){
    background: mediumpurple;
}
.content div:nth-child(2){
    background: darkgoldenrod;
}
.content div:nth-child(3){
    background: gold;
}

@media (max-width: 640px) {
    .general-container{
        display: flex;
        flex-direction: column-reverse;
    }
    .side-bar{
        width: 100%;
        align-items: center;
        align-content: center;

    }
    .profile-picture{
        width: 90%;
        margin: 10px;
    }
    
}