:root{
    --primary-color: #479dd6;
    --secondary-color: #479dd6;
    --warm-black: #201e1c;
    --black: #d5ebff;
    --grey: #bababa;
    --off-white: #f1f8f7;
    --just-white: #fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'DM Sans', cursive;
    font-size: 62.5%;
    width: 100%;
}

header{
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100%;
    height: 100%;
    background: grey;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.pexels.com/photos/3695238/pexels-photo-3695238.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center;
    background-size: cover;
}

.picture{
    display: flex;
    width: 80%;
}
.picture img{
    width: 250px;
    height: 250px;
    border-radius: 200px;
    border: var(--black) solid;
    margin: 15px auto;
}
nav{
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
}
li a{
    text-decoration: none;
    color: var(--warm-black);
    margin: 0px 40px ;
    font-weight: bold;
    font-size: 1.1rem;
}

.principal-container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    background-color: var(--black);
}
.principal-container div{
    display: flex;
    height: auto;
    justify-content: center;
    font-size: 1.1rem;
}
.principal-container div:nth-child(1){
    background: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    width: auto;
    padding: 0;
    overflow: hidden;
    margin: 30px 0px 30px auto;
    border-radius: 25px 0 0 25px;
}

.principal-container div:nth-child(1) h2{
    width: auto;
    margin: 15px auto 0 15px;
    padding: 5px;
}

.principal-container div:nth-child(1) p{

    width: auto;
    height: 100%;
    margin: 0 0 20px 35px;
    padding: 5px;
    line-height: 2rem;
}


.principal-container div:nth-child(2){
    background: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    overflow: hidden;
    width: auto;
    margin: 30px auto 30px 0px;
    border-radius: 0px 30px 30px 0px;

}

.principal-container div:nth-child(2) h2{

    width: auto;
    margin: 15px auto 0 15px;
    padding: 5px;
}

.principal-container div:nth-child(2) p{

    width: auto;
    height: 100%;
    margin: 0 0 20px 35px;
    padding: 5px;
    line-height: 2rem;
}

.principal-container div:nth-child(3){
    background: var(--secondary-color);
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    width: auto;
    overflow: hidden;
    margin: 30px 0px 30px auto;
    border-radius: 25px 0 0 25px;
}

.principal-container div:nth-child(3) h2{

    width: auto;
    margin: 15px auto 0 15px;
    padding: 5px;
}

.principal-container div:nth-child(3) p{
    width: auto;
    height: 100%;
    margin: 0 0 20px 35px;
    padding: 5px;
    line-height: 2rem;
}




.principal-container div:nth-child(4){
    background: var(--secondary-color);
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    width: auto;
    box-shadow: 4px var(--warm-black);
    margin: 30px auto 30px 0px;
    border-radius: 0px 30px 30px 0px;

}

.principal-container div:nth-child(4) h2{

    width: auto;
    margin: 15px auto 0 15px;
    padding: 5px;
}

.principal-container div:nth-child(4) p{

    width: auto;
    height: 100%;
    margin: 0 0 20px 35px;
    padding: 5px;
    line-height: 2rem;
}


@media (max-width: 768px) {
    nav{
        display: none;
    }
}